{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block categories %}
<ul class="second-header-ul">
    {% for category in categories %}
        <a href="{{ path('app_category_show', {'id': category.id}) }}" class="header-category">{{ category }}</a>
    {% endfor %}
</ul>
{% endblock %}
{% block body %}
    
    <article>
        <a href="{{ path('app_subject_new') }}" class="btn btn-primary">Create new</a>
    </article>

    <h1>WELCOME {{ app.user.nickname }} !</h1>
{% endblock %}