{% extends 'base.html.twig' %}

{% block title %}Notification index{% endblock %}

{% block body %}

    {% for notification in app.user.notifications %}
       <section class="notif"> {{ notification }} <a href="{{ path('app_notification_delete', {'id': notification.id}) }}"><i class="fa-solid fa-xmark"></i></a> </section>
    {% endfor %}

{% endblock body %}