{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    
    <h1>CATEGORIES</h1>
    
    {% for category in categories %}
        <a href="{{ path('app_category_show', {'id': category.id}) }}">{{ category.categoryType }}</a>

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_category_edit', {'id': category.id}) }}">edit</a>
        {% endif %}
    {% else %}
        <p>no records found</p>
    {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_category_new') }}">Create new</a>
    {% endif %}
{% endblock %}
