* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(231, 231, 231);
}

// *** Header ***
header {
    height: 60px;
    width: 100%;
    position: absolute;
    margin-top: 30px;
    background: #103374;
}

nav {
    width: 100%;
    height: 100%;
}

ul {
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul.header-ul {
    height: 100%;
}

ul.second-header-ul {
    height: 50%;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 0 0 2em 2em;
}

li {
    display: block;
}

header a {
    font-size: 16px;
    color: white;
}

a.notification-header {
    position: absolute;
}

.nbNotifications {
    height: 25px;
    width: 25px;
    background-color: rgb(173, 46, 46);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    bottom: 1em;
    left: 1em;
}

img.header-logo {
    height: 120px;
    width: 120px;
}

i {
    height: 20px;
    width: 20px;
    font-size: 20px;
}

i.header-i {
    color: white;
}

.nbMoreNotifications {
    width: 50px;
}

a.header-category {
    color: black;
}
// *** End of Header ***

// *** Main ***
main {
    padding: 175px 0 150px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

// *** Articles / Asides ***

article {
    margin: 0 5%;
    height: 80%;
    background: white;
}

article.user-article, article.article-subject {
    background: none;
}

article.article-subject {
    width: 90%;
}

aside {
    display: flex;
    flex-direction: column;
    width: 80%;
}

aside.user-aside {
    margin: 5%;
}

// *** End of Articles / Asides ***

// *** Sections ***

section {
    margin-bottom: 2em;
    padding: 30px;
    background: white;
    border-radius: 50px;
}

section.reset {
    width: 35em;
}

section.section {
    width: 80%;
}

section.profile-section {
    width: 50%;
    position: relative;
    left: 15em;
    bottom: 10em;
    margin: 1em;
}

section.notif {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
}

section.login {
    background: rgba(255, 255, 255, 0.637);
    width: 35%;
}

section.section-subject {
    width: auto;
    height: auto;
    margin-bottom: 2em;
}

// *** End of Sections ***

.notif i {
    color: red;
}

// *** Divs ***

div.profile-card {
    margin: 0 0 0 1em;
}

div.card-body {
    display: flex;
    flex-direction: column;
}

.buttons-crud {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
}

.btns-message {
    width: 50%;

}

// *** End of Divs ***

h1 {
    color: rgb(55, 79, 109);
}

.form-login {
    margin-top: 25px;
}



img {
    max-width: 10em;
    max-height: 10em;
}

a.profile-btn {
    margin: 10px 0;
    color: white;
}

// *** End of Main ***

// *** Footer ***

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    background: rgb(53, 53, 53);
    color: rgb(255, 255, 255);
    margin-top: 50px;
    padding: 1em 0;
}

.figure-footer {
    display: flex;
    align-items: flex-end;
    margin: 0;
}

.footer-logo {
    height: 50px;
    width: 50px;
}
// *** End of Footer ***