* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(231, 231, 231);
}

.login-background {
    height: 100%;
    width: 100%;
}

// *** Header ***
header {
    height: 60px;
    width: 100%;
    position: absolute;
    margin-top: 30px;
    background: #103374;
}

nav {
    width: 100%;
    height: 100%;
}

ul {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    display: block;
}

header a {
    font-size: 16px;
    color: white;
}

.nbNotifications {
    height: 25px;
    width: 25px;
    background-color: rgb(173, 46, 46);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

img {
    height: 120px;
    width: 120px;
}

i {
    height: 20px;
    width: 20px;
    font-size: 20px;
    color: white;
}
// *** End of Header ***

// *** Main ***
main {
    padding-top: 175px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    width: 70%;
    height: 30em;
    padding: 30px;
    background: white;
    border-radius: 50px;
}

section.reset {
    width: 35em;
}

section.section {
    width: 80%;
}

section.profile-section {
    width: 50%;
    position: relative;
    left: 15em;
    bottom: 10em;
}

section.notif {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
}

.notif i {
    color: red;
}

div.profile-card {
    position: relative;
    right: 30em;
}

h1 {
    color: rgb(55, 79, 109);
}

.form-login {
    margin-top: 25px;
}

// *** Footer ***

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    background: rgb(53, 53, 53);
    color: rgb(255, 255, 255);
    margin-top: 50px;
    padding: 1em 0;
}

.figure-footer {
    display: flex;
    align-items: flex-end;
    margin: 0;
}

.footer-logo {
    height: 50px;
    width: 50px;
}
// *** End of footer ***