* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nerko One', cursive;
  }

body {
    background-image: url("../../public/uploads/images/siteimage/composition-of-messy-stationery-tools-for-drawing2.jpg") !important;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-color: rgba(255, 179, 37, 0.295);
    background-blend-mode: multiply;
}

// *** Header ***
header {
    height: 60px;
    width: 100%;
    position: absolute;
    margin-top: 30px;
    background: #7c2f11;
}

nav {
    width: 100%;
    height: 100%;
}

nav.search-nav {
    height: auto;
    margin-top: 2.5em;
    display: flex;
    justify-content: center;
}

ul {
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul.header-ul {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

ul.second-header-ul {
    height: 50%;
    justify-content: space-evenly;
    background-color: rgb(161, 106, 3);
    border-radius: 0 0 2em 2em;
}

li {
    display: block;
}

li.li-notif {
    width: 20px;
    height: 24px;
}

figure.header-figure{
  display: flex;
  align-items: center;
  position: relative;
  top: 10px;
  color: rgb(255, 245, 226);
}

header a {
    font-size: 16px;
    color: white;
}

a.notification-header {
    position: absolute;
}

.nbNotifications {
    height: 25px;
    width: 25px;
    background-color: rgb(173, 46, 46);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    bottom: 1em;
    left: 1em;
}

img.header-logo {
    height: 120px;
    width: 120px;
}

i {
    height: 20px;
    width: 20px;
    font-size: 20px;
}

i.header-i {
    color: white;
}

.nbMoreNotifications {
    width: 50px;
}

a.header-category {
    color: black;
}
// *** End of Header ***

// *** Main ***
main {
    padding: 175px 0 150px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

// *** Articles / Asides ***

article {
    margin: 0 5%;
    height: 80%;
    background: white;
}

article.user-article, article.article-subject, article.article-notif {
    background: none;
}

article.article-subject {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article.article-notif {
    width: 75%;
}

aside {
    display: flex;
    flex-direction: column;
    width: 80%;
}

aside.user-aside {
    margin: 5%;
}

// *** End of Articles / Asides ***

// *** Sections ***

section {
    margin-bottom: 2em;
    padding: 30px;
    background: rgb(255, 245, 216);
    border-radius: 50px;
}

section.reset {
    width: 35em;
}

section.section {
    width: 80%;
}

section.profile-section {
    width: 50%;
    position: relative;
    left: 15em;
    bottom: 10em;
    margin: 1em;
}

section.notif {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
}

section.login {
    font-size: medium;
    background: rgba(255, 255, 255, 0.637);
    width: 35%;
}

section.section-subject {
    width: auto;
    height: auto;
    margin-bottom: 2em;
}

// *** End of Sections ***

.notif i {
    color: red;
}

// *** Divs ***

div.profile-card {
    margin: 0 0 0 1em;
}

div.card-body {
    display: flex;
    flex-direction: column;
}

.buttons-crud {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
}

.btns-message {
    width: 50%;

}

.list-users {
    margin-top: 2em !important;
}

// *** End of Divs ***

h1 {
    color: rgb(55, 79, 109);
}

.form-login {
    margin-top: 25px;
}



img {
    max-width: 50em;
}

.img-block {
    display: block;
}

a.profile-btn {
    margin: 10px 0;
    color: white;
}

// *** End of Main ***

// *** Footer ***

footer {
    background-color: #7c2f11;
    margin-top: 300px;
  }
  .container {
    margin-left: 20px;
    margin-right: 20px;
  }
  .container .content {
    display: flex;
    padding: 50px;
    justify-content: space-between;
  }
  .container .content .col {
    display: flex;
    flex-direction: column;
  }
  .container .content p:first-child:not(.flex p:first-child) {
    color: white;
    font-size: 22px;
  }
  .container .content p:not(.col, .column p:first-child) {
    color: rgb(136, 136, 136);
    margin-bottom: 10px;
  }
  .container .content .col:first-child {
    gap: 25px;
  }
  .container .content .col:first-child .flex {
    display: flex;
    gap: 50px;
  }
  .container .content .col:first-child .flex .col-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .container .content .col:first-child .flex .col-info p {
    font-size: 14px;
  }
  .container .content .col:first-child .flex .col-info span {
    color: white;
    font-size: 17px;
  }
  .container .content .col .column:first-child {
    margin-right: 50px;
  }
  
  .container .content .col .column p:first-child {
    margin-bottom: 25px;
  }
  .container .content .col .column p:not(p:first-child) {
    margin-bottom: 12px;
  }
  .container .content .col:last-child {
    gap: 15px;
  }
  .container .content .col:last-child .email {
    display: flex;
  }
  .container .content .col:last-child .email input {
    width: 300px;
    height: 40px;
    font-size: 17px;
    color: white;
    background-color: rgb(76, 76, 76);
    padding-left: 10px;
    border: 0;
    outline: 0;
  }
  .container .content .col:last-child .email button {
    width: 200px;
    height: 40px;
    color: white;
    background-color: rgb(229, 39, 39);
    padding-left: 10px;
    border: 0;
    outline: 0;
    text-align: center;
    margin-left: -30px;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
  }
  .container .content .col:last-child .social {
    display: flex;
    gap: 20px;
  }
  .container .content .col:last-child .social img {
    width: 40px;
  }
  .content-foot {
    background-color: rgb(78, 0, 0);
    display: flex;
    justify-content: center;
  }
   .content-foot .foot-text{
    padding: 25px 80px;
    display: flex;
    justify-content: space-between;
  }
  .content-foot p {
    color: rgb(136, 136, 136);
  }
  .content-foot .container p span {
    color: white;
    font-weight: bold;
  }
  .content-foot .container .pay {
    display: flex;
    gap: 20px;
  }
  .content-foot .container .pay img {
    width: 70px;
    height: 40px;
    object-fit: contain;
    background-color: white;
    padding: 10px 5px;
  }
  
// *** End of Footer ***