{% extends 'base.html.twig' %}

{% block title %}Messages
{% endblock %}

{% block body %}
	<section class="container">
		<div class="row">
			<div class="col">
				<h1>Send a message</h1>
                {{ form(form) }}
				<div class="buttons-crud btns-message">
					<button type="submit" class="btn btn-primary">Submit</button>
					<a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
						See my files
					</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}