{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>Users</h1>

    {% for user in users %}
            <p>
                {{ user.nickname }}
                <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                {% endif %}
            </p>
        {% else %}
            <p colspan="9">no records found</p>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
